//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: $color-button-background;
	border: none;
	border-radius: 0;
	border-width: 0;
	color: $color-button-text;
	line-height: 1.5;
	margin: 0;
	padding: $padding-input;

	// IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &

	&:hover {
		background-color: $color-button-background-hover;
	} // &:hover

	&:active,
	&:focus {
		background-color: $color-button-background-hover;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]
.gform_wrapper .gform_footer{
	text-align: center;
	padding: 5px 0 20px;
	margin: 0;
 input.button{
	background: rebeccapurple;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 5px 35px;
    padding: 5px 20px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
	&:focus {
		outline: none!important;
	  }
	&:hover {
        box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
	  }
	  @media screen and (max-width: 768px) {
		min-width: 170px;
	  }
  
	  @media screen and (max-width: 576px) {
		min-width: inherit;
		margin: 0;
		margin-bottom: 16px;
		width: 100%;
		max-width: 300px;
  
		&:last-child {
		  margin-bottom: 0;
		}
	  }
  }
}