//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------

// Entry Title
.entry-header,.entry-title {
	color: #ffffff;
	font-weight: 400;
	a{
		color: #f43a44;
	&:hover{
    color: #fd3838;
	}
  }
} // .entry-title

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	margin: 0 0 rem(24) 0;
} // .hentry

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// Byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
	img{
		padding: 5px;
		border: 1px solid #DBE3E3;
		margin: 20px auto;
		display: block;
		box-shadow: 0 0 10px 0 #999;
		border-radius: 20px;
		max-width: 80%;
	}
} // .page-content, .entry-content, .entry-summary

// Page links
.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
} // .page-links

// Tags links
.tags-links {
	margin-left: rem(24);
} // .tags-links

// Edit link
.edit-link {
	margin: 0 0 0 rem(5);

	a {
		display: inline-block;
		font-size: rem(12);
		text-transform: lowercase;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	} // a
} // .edit-link

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title

// Content blocks.
.content-block {
	@include clearfix;
} // .content-block
.page-title{
	color: #ffffff;
}
