//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer{
	background-color: #f8f8f8;
	height: 100%;
.site-info {
	text-align: center;
	color: #888;
	
} // .site-info

#spooky-line {
	width: 100%;
	.colored-line {
		float: left;
		width: 25%;
		height: 5px;
	  }
	  
	  #red {
		background: #e74c3c;
	  }
	  
	  #yellow {
		background: #f1c40f;
	  }
	  
	  #green {
		background: #2ecc71;
	  }
	  
	  #blue {
		background: #3498db;
	  }
  }
}