//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------
.site-header{
	background-color: #f8f8f8;
	position: sticky;
	top: 0;
	z-index: 999;
	.site-menu{
		display: flex;
		align-items: center;
	}

	#spooky-line {
		width: 100%;
		.colored-line {
			float: left;
			width: 25%;
			height: 5px;
		  }
		  
		  #red {
			background: #e74c3c;
		  }
		  
		  #yellow {
			background: #f1c40f;
		  }
		  
		  #green {
			background: #2ecc71;
		  }
		  
		  #blue {
			background: #3498db;
		  }
	  }
	  
	  
}
// Site logo.
.site-branding {
	@include span-columns(6);

	@include media($tablet-portrait) {
		@include span-columns(4);
	}


	// Don't let the logo get out of control.
	img {
		@include media(min-width $tablet-portrait max-width $tablet-landscape) {
			float: left;
			width: 50%;
		}
	} // img
	.site-title{
		font-weight: 400;
		font-size: 1.4em;
		text-transform: capitalize;
		@include media($tablet-portrait) {
		font-weight: bold;
		font-size: 2em;
		text-transform: capitalize;
		}
		a{
			color: #888;
			
		}
	}
} // .site-branding

//-----------------------------------------
// Header action container — Form Dropdown.
//-----------------------------------------
.site-header-action {
	@include span-columns(12);

	@include media($tablet-portrait) {
		@include span-columns(5);
	}

	@include media($tablet-landscape) {
		@include span-columns(4);

		float: right;
		margin-right: 0;
	}

	@include media($desktop) {
		@include span-columns(3);

		float: right;
		margin-right: 0;
	}

	@include media($desktop-large) {
		@include span-columns(2);

		float: right;
		margin-right: 0;
	}
} // .site-header-action

//-----------------------------------------
// Site header action cta buttons.
//-----------------------------------------
.site-header-action {

	// Span the button the full width.
	.button-link,
	.cta-button {
		color: $color-white;
		display: block;
		text-align: center;
		text-decoration: none;
		width: 100%;
	} // .button-link, .cta-button
} // .site-header-action


//-----------------------------------------
// Main Navigation Container.
//-----------------------------------------
.main-navigation {
	@include span-columns(12);
} // .main-navigation
