$space: 1.5rem;
$grey: lighten(black, 25);
$blue: #5171C3;
$orange: #DE660F;
$green: #2EA83B;
$yellow: #BDB235;
$tan: #AA9E5C;
$purple: #3E5EB3;
$ease: all .5s cubic-bezier(0.23, 1, 0.32, 1);

@function longshadow($color_a,$color_b,$stepnum, $opacity: 1) {
	$gradient_steps: null;
	@for $i from 1 through $stepnum {
		$weight: ( ( $i - 1 ) / $stepnum ) * 100;
		$colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);
		$seperator: null;
		@if($i != $stepnum){ 
			$seperator: #{','}; 
		}
		$gradient_steps: append( #{$gradient_steps}, #{$i}px #{$i}px $colour_mix $seperator );
 }
  @return $gradient_steps;
}

* {
	box-sizing: border-box
}

.joshim{
	max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .jh{
		animation: popUp ease-in-out 350ms;
		@include media ($tablet-portrait){
		box-shadow: 0 0 0 5px rgba(0,0,0,.15);
		}
        a{
			color: $grey;
			text-decoration: none;
			&:active, &:focus, &:hover, &:visited{
            color: $grey;
			text-decoration: none;
			}
		}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}


			.view {
				position: relative;
				height: 100%;
				width: 384px;
				overflow-y: hidden;
				@include media ($tablet-portrait){
				background: darken(white, 1);
				  }
			}

			.card {
				
				&__list {
					padding: $space ;
				}
				&__item {
					animation: popUp ease-in-out 650ms;
					margin: 0 0 $space / 2;
					padding: $space*1.5 $space;
					border-top: 4px solid $grey;
					box-shadow: 0 1px 3px rgba(black,.12), 0 1px 2px rgba(black,0.24);
					background: white;
					cursor: pointer;
					transition: $ease;
					
					&:hover {
						background-image: linear-gradient(147deg,#fe8a39,#fd3838 74%);
						background: linear-gradient(90deg,#fc0606 50%,#fe8a39 0) repeat scroll 100% 100%/200% 100% transparent;
						color: #fff;
						text-decoration: none;
						
						.info-player__num {
							transform: scale(1.1);
						}
					}
				}
				
				&__info {
					display: flex;
					align-items: center;
					justify-content: space-between;
					
					.info-player {
						display: flex;
						align-items: center;
						
						&__num {
							background-repeat: no-repeat;
							background-size: 60px;
							padding: $space*2 ;
							margin: 0 $space / 2 0 0;
							text-align: center;
							border-radius: 50%;
							font-size: 36px;
							color: white;
							overflow: hidden;
							transition: $ease;
							margin-right: 20px;
							margin-left: -50px;
							border-top: 1.5px solid #3498db;
							border-left: 1.5px solid #f1c40f;
							border-right: 1.5px solid #e74c3c;
							border-bottom: 1.5px solid #2ecc71;
							box-shadow: 0 0 0 5px rgba(0,0,0,.15);
						}
						
						&__name {
							line-height: 1.1;
							font-size: 15px;
							margin: 0;
							
							small {
								font-size: 10px;
							}
						}
					}
					
					.info-place {
						margin: 0;
						font-size: 20px;
						sup{
							font-size: 10px;
						}
					}
				}
				
			
		}
    }
}
