
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

.layout{
  align-items: center;
  display: flex;
  justify-content: center;
  @include media ($tablet-portrait){

  }
  @keyframes popUp{
    from{
      transform: scale(0);
      opacity: 0;
    }
    to{
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes slideUp{
    from{
      transform: translateY(5px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .profile{
    animation: popUp ease-in-out 350ms;
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 40px 0px rgba(#000000, 0.17);
    margin-top: 40px;
    padding: 9px 10px 10px 9px;
    position: relative;
    width: 350px;
    box-shadow: 0 0 0 5px rgba(0,0,0,.15);
    @include media ($tablet-portrait){
      padding: 28px 30px 30px 35px;
      width: 500px;
    }
    &__account{
      align-self: center;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      padding-left: 90px;
      @include media ($tablet-portrait){
        padding-left: 125px+10px;
      }
    }
    &__button{
      border-radius: 50px;
      background-image: linear-gradient(147deg,#fe8a39,#fd3838 74%);
      background: linear-gradient(to right, darken(#fd3838, 10%) 50%, #fe8a39 50%) repeat scroll right bottom / 200% 100% rgba(0, 0, 0, 0);
      color: #ffff;
      box-shadow: 0 14px 80px rgba(252,56,56,.4);
      display: block;
      font-family:'Montserrat', sans-serif;
      font-size: 12px;
      padding: 6px;
      text-align: center;
      text-decoration: none;
      transition: ease-in-out 250ms background, ease-in-out 250ms color;
      &:hover{
        background-position: left bottom;
      }
      @include media ($tablet-portrait){
        font-size: 13px;
        padding: 10px;
      }
    }
    &__edit{
      flex: none;
      margin-left: 30px;
      width: 120px;
      @include media ($tablet-portrait){
        width: 140px;
      }
    }
    &__header{
      display: flex;
      margin-bottom: 5px;
      @include media ($tablet-portrait){
        margin-bottom: 20px;
      }
    }

    &__icon{
      flex: none;
      font-size: 1.5em;
      margin-right: 10px;
      padding-top: 3px;
      &--gold{
        color: #eab100;
      }
      &--blue{
        color:#8faae8;
      }
      &--pink{
        color:#ff86af
      }
    }
    &__key{
      font-family:'Montserrat', sans-serif;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
    }

    &__picture{
      background: #ffffff;
      border-radius: 100px;
      border: 10px solid #ffffff;
      position: absolute;
      top: -40px;
      height: 86px;
      width: 87px;
      border-top: 1.5px solid #3498db;
      border-left: 1.5px solid #f1c40f;
      border-right: 5.5px solid #e74c3c;
      border-bottom: 5.5px solid #2ecc71;
      box-shadow: 0 0 0 5px rgba(0,0,0,.15);
      @include media ($tablet-portrait){
        margin-right: 20px;
        margin-left: -50px;
        height: 125px;
        width: 125px;
      }
      &:before{
        border-radius: 100px;
        box-shadow: 0 0 40px 0px rgba(#000000, 0.17);
        content: "";
        height: calc(100% + 20px);
        left: -10px;
        position: absolute;
        top: -10px;
        width: calc(100% + 20px);
        z-index: -1;
      }
      img{
        border-radius: 100px;
        height: 100%;
        width: 100%;
      }
    }
    &__stat{
      animation: slideUp ease-in-out 350ms forwards;
      border-right: 1px solid #e9e9e9;
      display: flex;
      flex: 1;
      justify-content: center;
      opacity: 0;
      padding: 5px 2px;
      transform: translateY(5px);
      &:last-of-type{
        border-right: none;
      }
      @for $i from 1 through 3{
        &:nth-child(#{$i}){
          animation-delay: #{300ms + (100ms*$i)};
        }
      }
      @include media ($tablet-portrait){
        padding: 10px 4px;
      }
    }

    &__stats{
      display: flex;
    }
    &__username{
      font-family:'Montserrat', sans-serif;
      font-weight: 600;
      margin: 0;
      text-align: right;
    }
    &__value{
      font-family:'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
  }

}
