.single{
    .single-header{
        display: none;
        background-size: cover !important;
        background-position: center !important;
        background-repeat:repeat !important;
        padding: 5px;
        border: 1px solid #DBE3E3;
        margin: 20px auto;
        height: 50vh;
        max-width: 50%;
        box-shadow: 0 0 10px 0 #999;
        justify-content: center;
        align-items: center;
        .entry-title{
            text-align: center;
            background-color: #ddd;;
            color: #8997A0;
            margin: 0 .7em;
            border: solid #ddd 4px;
            box-shadow: 0 6px 6px rgba(0,0,0,0.4), 5px 10px 10px rgba(0,0,0,0.3);
        }
        @include media ($tablet-portrait){
            display: flex;
        }
        
    }
    .tiles {
        top: -96px;
        box-shadow: 0 0 0 5px rgba(0,0,0,.15);
    }
}