//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 rem(24);

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	} // select

	// Extend the h3 style for the widget titles.
	.widget-title {
		@extend .h3 !optional;
	} // .widget-title
	.wpp-post-title{

	}
	.wpp-list {
		margin: 10px 0;
		padding: 0;
	li{
	    border-bottom: 1px solid #eee;
		margin: 10px 0;
		counter-increment: c;
		padding: 6px;
		&::before{
			border-radius: 50%;
			box-shadow: inset 0 0 1px 1px #efefef, 
			inset 0 (-0.5em) rgba(#000, .1);
			background-image: linear-gradient(to right, #f1c40f , #e74c3c);
			color: #fff;
			text-align: center;
			padding: 5px;
			content: counter(c,decimal-leading-zero);
		}
		a, a:active, a:focus, a:hover, a:visited {
			color: #000;
		}
	
	}
	}
} // .widget

// Search widget.
.widget_search .search-submit {
	display: none;
} // .widget_search .search-submit
